* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f0e8;
    font-family:Popping;
}


#container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid #8b6f47;
    border-radius: 10px;
   
}

nav ul {
    text-align: center;
    background-color: #6b4f35;
    text-decoration: none;
    border-radius: 8px;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 18px;
    padding: 15px 18px;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0,3;
}

nav ul li a:hover {
    background-color: #4e3927;
    transform: scale(1.05);
}


.container {
    text-align: center;
    padding: 30px;
}


h1 {
    color: #5a3e2b;
    font-size: 35px;
    margin-bottom: 20px;
}

h2 {
    color: #6b4f35;
    margin-top: 25px;
    margin-bottom: 15px;
}

h3 {
    color: #5a3e2b;
    margin: 15px;
}


p {
    color: #333333;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
}


img {
    width: 180px;
    height: 230px;
    margin: 10px;
    border: 2px solid #8b6f47;
    border-radius: 6px;
}

img:hover {
    cursor: pointer;
    transform: scale(1.05);

}

.container ul,
.container ol {
    width: 70%;
    margin: 20px auto;
    text-align: left;
}

.container li {
    margin: 10px;
    padding: 8px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background-color: #6b4f35;
    color: white;
}

th,
td {
    border: 1px solid #8b6f47;
    padding: 12px;
}

td {
    color: #333333;
}

td:hover {
    cursor: pointer;
    background-color: #eee2d2;
}

footer {
  color: #6b4f35;
  text-align: center;
  font-size: 0.85rem;
  padding: 24px 16px 32px;
  border-top: 1px solid white;
  max-width: 860px;
  margin: 0 auto;
}